In [1]:
# 元卫南 赏金分析
import pandas as pd

In [2]:
import pymongo
client = pymongo.MongoClient('10.18.6.46',27001)

In [3]:
doc=client['xueqiu']['reward']

In [4]:
result =[]
for i in doc.find({},{'_id':0}):
    result.append(i)

In [5]:
len(result)

8968

In [6]:
df = pd.DataFrame(result)

In [7]:
df.head()

,amount,been_reward,created_at,description,name,origin_post_id,user_id
0,6.00,元卫南,2019-08-13 21:31:36,None,慕狼为友,131085314,1880162437
1,1.00,元卫南,2019-08-13 22:03:16,价值兜底，趋势赚钱，分批买卖，组合选股。,秦韬,131085314,9644764163
2,1.00,元卫南,2019-08-13 21:51:36,比较懒，有钱就定期买入一些，现在主要买入一些指数基金,Betula11,131085314,3256958535
3,66.66,元卫南,2019-08-13 08:09:38,,Shero冉冉7,131039085,4102521305
4,19.99,元卫南,2019-08-13 15:11:39,失去的会以另外的方式永远存在,babyluo,131039085,8941786191

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8968 entries, 0 to 8967
Data columns (total 7 columns):
amount            8968 non-null float64
been_reward       8968 non-null object
created_at        8968 non-null object
description       6536 non-null object
name              8968 non-null object
origin_post_id    8968 non-null int64
user_id           8968 non-null int64
dtypes: float64(1), int64(2), object(4)
memory usage: 490.5+ KB

In [9]:
df['created_at']=pd.to_datetime(df['created_at'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8968 entries, 0 to 8967
Data columns (total 7 columns):
amount            8968 non-null float64
been_reward       8968 non-null object
created_at        8968 non-null datetime64[ns]
description       6536 non-null object
name              8968 non-null object
origin_post_id    8968 non-null int64
user_id           8968 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 490.5+ KB

In [15]:
df=df.set_index('created_at',drop=True)

In [16]:
df.head()

,amount,been_reward,description,name,origin_post_id,user_id
created_at,,,,,,
2019-08-13 21:31:36,6.00,元卫南,None,慕狼为友,131085314,1880162437
2019-08-13 22:03:16,1.00,元卫南,价值兜底，趋势赚钱，分批买卖，组合选股。,秦韬,131085314,9644764163
2019-08-13 21:51:36,1.00,元卫南,比较懒，有钱就定期买入一些，现在主要买入一些指数基金,Betula11,131085314,3256958535
2019-08-13 08:09:38,66.66,元卫南,,Shero冉冉7,131039085,4102521305
2019-08-13 15:11:39,19.99,元卫南,失去的会以另外的方式永远存在,babyluo,131039085,8941786191

In [22]:
df['2019']['amount'].sum()

31851.6

In [21]:
df['2018']['amount'].sum()

0.0